@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --background-color-dark: #2F303A;
  --background-color-white: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --portfolio-button-background-color: #F5F4FA;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --card-set-gap: 30px;
  --socials-color: #afb1b8;
  --socials-color-background-dark: rgba(255, 255, 255, 0.1);
  --card-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-animation: 250ms;
  --color-border-close: rgba(0, 0, 0, 0.1);
  --backdrop: rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__dark {
  color: var(--title-text-color);
}

.logo__light {
  color: var(--primary-white-color);
  background-color: var(--background-color-dark);
}

button {
  display: inline-flex;
  font-family: var(--primary-font-family);
  border-color: transparent;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color var(--duration-animation) var(--timing-animation), fill var(--duration-animation) var(--timing-animation);
}

.socials {
  background-color: var(--background-color-white);
  fill: var(--socials-color);
  border-radius: 22px;
  width: 44px;
  height: 44px;
  transform: scale(1);
  transition: fill var(--duration-animation) var(--timing-animation), transform var(--duration-animation) var(--timing-animation), border-color var(--duration-animation) var(--timing-animation);
}

.socials-links {
  display: flex;
  justify-content: space-between;
}

.socials-links__instagram, .socials-links__twitter, .socials-links__facebook, .socials-links__linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-links__item {
  margin-right: 10px;
}

.socials:hover, .socials:focus {
  background-color: var(--accent-color);
  fill: var(--background-color-white);
  transform: scale(1.2);
}

.socials--dark {
  background-color: var(--socials-color-background-dark);
  fill: var(--background-color-white);
  border-radius: 22px;
  width: 44px;
  height: 44px;
  transform: scale(1);
  transition: fill var(--duration-animation) var(--timing-animation), transform var(--duration-animation) var(--timing-animation), border-color var(--duration-animation) var(--timing-animation);
}

.socials--dark:hover, .socials--dark:focus {
  background-color: var(--accent-color);
  fill: var(--background-color-white);
  transform: scale(1.2);
}

.socials__icon {
  width: 20px;
  height: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--backdrop);
  transition: all 250ms ease-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  min-height: 581px;
  background-color: var(--background-color-white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 40px;
}

.modal-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition: var(--duration-animation) var(--timing-animation);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: var(--duration-animation) var(--timing-animation);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.modal-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}

.modal-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-text-color);
}

.modal-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 7px;
  border-radius: 2px;
}

.modal-policy-checkbox:checked + .modal-policy::before {
  background-color: var(--accent-color);
  background-image: url("../img/modal/icon_check.svg");
  background-position: center;
  border: 1px solid var(--accent-color);
}

.form-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: var(--duration-animation) var(--timing-animation);
}

.form-icon:hover {
  fill: var(--accent-color);
}

.form-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-border-close);
  border-radius: 50%;
  background-color: var(--background-color-white);
  cursor: pointer;
}

.close-icon {
  fill: var(--title-text-color);
  transition: transform var(--duration-animation) var(--timing-animation);
}

.close-btn:hover > .close-icon,
.close-btn:focus > .close-icon {
  fill: var(--accent-color);
}

/* ! USER normalizer // Пользовательский нормализатор*/
/* Lists // Списки */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  /* remove bullets in lists // 
    убрать маркеры в списках */
}

/* Paragraphs // Абзацы */
p {
  margin: 0;
}

/* images // картинки */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* links // ссылки */
a {
  color: inherit;
  text-decoration: none;
  /* remove the underline in links // 
    убрать подчеркивание в ссылках */
  transition: color var(--duration-animation) var(--timing-animation);
}

/*! ---------------------------------------------------- */
/* ! Constants // Константы */
/* fonts constants // константы шрифтов*/
body,
address {
  font-family: var(--primary-font-family);
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color-white);
}

/* Headings // Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin: 0;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  border: 1px solid #ECECEC;
}

.header .conteiner {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header .address {
  margin-left: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-list__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list__link.current, .nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform-origin: 0px 0px;
  transform: scaleX(0);
  transition: background-color var(--duration-animation) var(--timing-animation), fill var(--duration-animation) var(--timing-animation);
}

.nav-list__link:hover::after {
  transform-origin: 0% 100%;
  transform: scaleX(1);
}

.nav-list__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  transform: scaleX(1);
}

.address-list {
  display: flex;
  align-items: center;
}

.address-list__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.address-list__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 32px 0;
  transition: background-color var(--duration-animation) var(--timing-animation), fill var(--duration-animation) var(--timing-animation);
}

.contact-item:hover, .contact-item:focus {
  color: var(--accent-color);
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-color: var(--background-color-dark);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(31, 32, 46, 0.4)), url("../img/fons/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--duration-animation) var(--timing-animation);
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-features .conteiner {
  display: flex;
  align-items: center;
}

.subtitle-features {
  display: flex;
}

.subtitle-features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.subtitle-features-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  line-height: 1.714;
  color: var(--primary-text-color);
}

.subtitle-features__item::before {
  content: "";
  display: block;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-background-color);
}

.subtitle-features__item::before:not(:last-child) {
  margin-right: 30px;
}

.icon-antenna::before {
  background-image: url("../img/features/antenna.svg");
}

.icon-clock::before {
  background-image: url("../img/features/clock.svg");
}

.icon-diagram::before {
  background-image: url("../img/features/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../img/features/astronaut.svg");
}

.section-work {
  padding-bottom: 94px;
}

.section-work .conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-work__title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.subtitle-work {
  display: flex;
}

.subtitle-work__img {
  display: flex;
}

.subtitle-work__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.subtitle-work__item:not(:last-child) {
  margin-right: 30px;
}

.subtitle-work__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--background-color-white);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.section-team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team .conteiner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-team__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.subtitle-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.subtitle-team__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  background-color: var(--background-color-white);
}

.subtitle-team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.subtitle-team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.card-team {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-team__content {
  padding: 30px 32px;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
}

.section-clients-list {
  display: flex;
  justify-content: space-between;
}

.section-clients-list__item {
  width: calc((100% - 150px) / 6);
}

.section-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;
  fill: var(--socials-color);
  border: 1px solid var(--socials-color);
  border-radius: 4px;
  transform: scale(1);
  transition: fill var(--duration-animation) var(--timing-animation), transform var(--duration-animation) var(--timing-animation), border-color var(--duration-animation) var(--timing-animation);
}

.section-clients__link:hover, .section-clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  transform: scale(1.2);
}

.footer {
  background-color: var(--background-color-dark);
  padding: 60px 0;
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
}

.footer--baseline {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-dark);
}

.footer-address__contact {
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-contact {
  min-width: 231px;
}

.footer-contact__email {
  margin-bottom: 9px;
}

.footer-contact__email, .footer-contact__tell {
  color: rgba(255, 255, 255, 0.6);
}

.subscription {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 206px;
}

.subscription-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription-wrapper {
  width: 570px;
  margin-left: 93px;
}

.subscription-slogan {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription-icon {
  min-width: 24px;
  min-height: 24px;
  margin-left: 10px;
}

.subscription-btn {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-left: 12px;
}

.footer-form {
  display: flex;
  flex-direction: row;
}

.email-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.filter .conteiner {
  display: flex;
  flex-direction: column;
}

.portfolio-subtitle__menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  display: flex;
  margin-top: 94px;
  margin-bottom: 55px;
  justify-content: center;
}

.portfolio-subtitle__item {
  color: var(--title-text-color);
  line-height: 2;
}

.portfolio-subtitle__item:not(:last-child) {
  margin-right: 30px;
}

.portfolio__button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--portfolio-button-background-color);
}

.portfolio__button.current, .portfolio__button:hover, .portfolio__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  padding-bottom: 94px;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-filter__item {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  cursor: pointer;
}

.card__link {
  transition: box-shadow var(--duration-animation) var(--timing-animation);
  text-decoration: none;
}

.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--primary-text-color);
}

.card-content__filter {
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-subtitle__img {
  display: block;
  max-width: 100%;
}

.card-content__filter {
  padding: 20px 24px;
}

.card-thumb__filter {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.portfolio-subtitle__description {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  color: var(--background-color-white);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.556;
  letter-spacing: 0.03em;
  transition: opacity var(--duration-animation) var(--timing-animation), transform var(--duration-animation) var(--timing-animation);
}

.card__link:hover .portfolio-subtitle__description,
.card__link:focus .portfolio-subtitle__description {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */