.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    
    &__title {
    margin-bottom: 50px;
    @include font(36px, 700, 42px, 0.03em);
    line-height: 1.17;
    text-align: center;
    }
    
    &-list {
    display: flex;
    justify-content: space-between;
    
        &__item {
        width: calc((100% - 150px) / 6);
        }
    }
    
    &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 170px;
    fill: var(--socials-color);
    border: 1px solid var(--socials-color);
    border-radius: 4px;
    transform: scale(1);
    transition: fill var(--duration-animation) var(--timing-animation),
    transform var(--duration-animation) var(--timing-animation), 
    border-color var(--duration-animation) var(--timing-animation);
    
        &:hover,
        &:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
        transform: scale(1.2);
        }
    }
}