:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-color-dark: #2F303A;
    --background-color-white: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --portfolio-button-background-color: #F5F4FA;
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --card-set-gap: 30px;
    --socials-color: #afb1b8;
    --socials-color-background-dark: rgba(255, 255, 255, 0.1);
    --card-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
    --duration-animation: 250ms;
    --color-border-close: rgba(0, 0, 0, 0.1);
    --backdrop: rgba(0, 0, 0, 0.2);
}